
html {
}

body {
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4 {
    font-weight: 300;
    font-family: "Open Sans",sans-serif;
}

h1 {
    font-size: 200%;
}

.sidebar-title {
    margin-top: 10px;
    margin-bottom: 0px;
}

.banner {
    padding-bottom: 60px;
    text-align: center;
}

.banner img {
    margin-bottom: 40px;
}

.api-module {
	margin-bottom: 80px;
}


.wy-menu > .caption > span.caption-text {
  color: #FF8C00;
}
.wy-nav-top {
    background-color: #0A8A9F;
}

.wy-side-nav-search {
    background-color: #0A8A9F;
}

.wy-side-nav-search > a img.logo {
    width: 100%;
}

.wy-side-nav-search input[type="text"] {
    border-color: #0A8A9F;
} */

/* Remove the padding from the Parameters table */
.rst-content table.field-list .field-name {
    padding-left: 0px;
}

/* Lign up the Parameters section with the descriptions */
.rst-content table.field-list td {
    padding-top: 8px;
}

.rst-content .highlight > pre {
    font-size: 14px;
}


.source-link {
    float: right;
}
