[flake8]
#GOAL: max_line_length = 79 or 99
max_line_length = 99
per-file-ignores =
    # too many leading '#' for block comment
    */tests/*:E266
    # line too long (several test strs)
    test_granules.py:E501
    # imported but unused
    __init__.py:F401
    # import not at top of file
    doc/source/conf.py:E402

ignore =
    # line too long; Black handles long lines of code, but allows inline
    # comments to be infinitely long (automatically formatting them can have
    # unintended consequences). In our codebase, we have a lot of overlong
    # comments.
    # See: https://github.com/psf/black/issues/1713#issuecomment-1357045092
    E501
    # GOAL: remove ignores below this line
    # comparison syntax in tests
    E721
    # bare except
    E722
    # ambiguous var name
    E741
    # imported but unused
    F401
    # unable to detect undefined names
    F403
    # assigned and unused (in tests)
    F841
    # line break before binary operator
    W503

    # GOAL:
    # syntax check doctests in docstrings
    # doctests = True
