[flake8]
#GOAL: max_line_length = 79 or 99
max_line_length = 99
per-file-ignores =
    # too many leading '#' for block comment
    */tests/*:E266
    # line too long (several test strs)
    test_granules.py:E501
    # imported but unused
    __init__.py:F401
    # import not at top of file
    doc/source/conf.py:E402

# GOAL: remove these ignores
ignore =
    # line too long
    E501
    # comparison syntax
    E711
    # comparison syntax
    E712
    # comparison syntax in tests
    E714
    # comparison syntax in tests
    E721
    # bare except
    E722
    # ambiguous var name
    E741
    # imported but unused
    F401
    # unable to detect undefined names
    F403
    # assigned and unused (in tests)
    F841
    # line break before binary operator
    W503

    # GOAL:
    # syntax check doctests in docstrings
    # doctests = True
