Jessica Scheick <jbscheick@gmail.com>
Jessica Scheick <jbscheick@gmail.com> JessicaS11 <jessica.scheick@maine.edu>
Jessica Scheick <jbscheick@gmail.com> Jessica <JessicaS11@users.noreply.github.com>

Zheng Liu <liuzheng@zheng-pc.apl.washington.edu>
Zheng Liu <liuzheng@zheng-pc.apl.washington.edu> liuzheng-arctic <liuzheng.atmos@gmail.com>

Raphael Hagen <Raphael@Raphaels-MacBook-Pro-2.local> raphael <norlandrhagen@gmail.com>
Fernando Perez <Fernando.Perez@berkeley.edu>
Shashank Bhushan <sbaglapl@uw.edu>
Anthony Arendt <arendta@uw.edu>
Scott Henderson <scottyh@uw.edu>
Wei Ji <weiji.leong@vuw.ac.nz>
Tom Johnson <thomas.johnson.17@ucl.ac.uk>
Bruce Wallin <bruce.wallin@nsidc.org> <35819999+wallinb@users.noreply.github.com>
Tyler Sutterley <tsutterl@uw.edu>
Amy Steiker <47193922+asteiker@users.noreply.github.com> asteiker <amy.steiker@nsidc.org>
David Shean <dshean@users.noreply.github.com>
Anna Valentine <65192768+annavalentine@users.noreply.github.com>
Bidhyananda Yadav <bidhya@ufl.edu>
Friedrich Knuth <knuth@uw.edu>
