# Publish archives to PyPI and TestPyPI using GitHub Actions
name: Publish to PyPI

# Only run for tagged releases and pushes to the development branch
on:
  release:
    types:
      - published
  push:
    branches:
      - development
  # Trigger manually at https://github.com/icesat2py/icepyx/actions/workflows/publish_to_pypi.yml
  workflow_dispatch:

jobs:
  publish-pypi:
    name: Publish to PyPI
    runs-on: ubuntu-latest
    if: github.repository == 'icesat2py/icepyx'
    permissions:
      id-token: write

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        # fetch all history so that setuptools-scm works
        fetch-depth: 0

    - name: Set up Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install dependencies
      run: python -m pip install setuptools wheel

    # This step is only necessary for testing purposes and for TestPyPI
    - name: Fix up version string for TestPyPI
      if: ${{ !startsWith(github.ref, 'refs/tags') }}
      run: |
        # Change setuptools-scm local_scheme to "no-local-version" so the
        # local part of the version isn't included, making the version string
        # compatible with PyPI.
        sed --in-place "s/node-and-date/no-local-version/g" setup.py

    - name: Build source and wheel distributions
      run: |
        python setup.py sdist bdist_wheel
        echo ""
        echo "Generated files:"
        ls -lh dist/

    - name: Publish to Test PyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/

    - name: Publish to PyPI
      if: startsWith(github.ref, 'refs/tags')
      uses: pypa/gh-action-pypi-publish@release/v1
