name: Typecheck

on:
  pull_request:
  push:
    branches:
      - main
      - development


jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: "3.10"

      - name: Install package and test dependencies
        run: |
          python -m pip install .[complete]
          python -m pip install -r requirements-dev.txt

      - uses: jakebailey/pyright-action@v2
