name: Draw diagrams
on:
  push:
  workflow_dispatch:

jobs:
  diagrams:
    name: Draw diagrams
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Process diagrams
        uses: Timmy/plantuml-action@v1
        with:
          args: '-graphvizdot "exe" -tutxt diagrams/*.txt'
      - name: Display diagrams
        run: cat diagrams/*.utxt
