name: generate plantuml
on:
  push:
  workflow_dispatch:
  
jobs:
  generate_plantuml:
    runs-on: ubuntu-latest
    name: plantuml
    steps:
    - name: checkout
      uses: actions/checkout@v1
      with:
        fetch-depth: 1
    - name: plantuml
      id: plantuml
      uses: grassedge/generate-plantuml-action@v1.5
      with:
        path: ./doc/source/user_guid/documentation
        message: "Render PlantUML files"
      env:
        GITHUB_TOKEN: ${{ secrets.TRAFFIC_ACTION_TOKEN }}
